<div class="card text-bg-light mb-3">
    <div class="card-header">{{titulo}}</div>
    <div class="card-body">
        <button class="btn btn-secondary my-2" routerLink="/alumnos">Volver</button>

        <form action="" method="post">
            <div class="form-group">
                <label for="nombre">Nombre</label>
                <input type="text" name="nombre" class="form-control" [(ngModel)]="alumno.nombre">
                <div class="alert alert-danger" *ngIf="error?.nombre">
                    {{error.nombre}}
                </div>
            </div>
            <div class="form-group">
                <label for="nombre">Apellido</label>
                <input type="text" name="apellido" class="form-control" [(ngModel)]="alumno.apellido">
                <div class="alert alert-danger" *ngIf="error?.apellido">
                    {{error.apellido}}
                </div>
            </div>
            <div class="form-group">
                <label for="nombre">Email</label>
                <input type="text" name="email" class="form-control" [(ngModel)]="alumno.email">
                <div class="alert alert-danger" *ngIf="error?.email">
                    {{error.email}}
                </div>
            </div>
            <div class="form-group mt-2 d-flex justify-content-end">
                <button type="button" class="btn btn-primary" 
                (click)="alumno.id? editar(): crear()" >{{alumno.id? 'Editar': 'Crear'}}</button>
            </div>
        </form>
</div>
</div>