<div class="card text-bg-light mb-3">
    <div class="card-header">{{titulo}}</div>
    <div class="card-body">
        <button class="btn btn-secondary my-2" routerLink="/examenes">Volver</button>
        <form action="" method="post">
            <div class="form-group">
                <label for="nombre">Nombre</label>
                <input type="text" name="nombre" class="form-control" [(ngModel)]="model.nombre">
                <div class="alert alert-danger" *ngIf="error?.nombre">
                    {{error.nombre}}
                </div>
            </div>
            <div class="form-group">
                <label for="asignaturaPadre">Asignatura</label>
                <select (change)="cargarHijos()"
                [(ngModel)]="model.asignaturaPadre" name="asignaturaPadre" id="asignaturaPadre" class="form-control">
                    <option [ngValue]="undefined">--- Selecciona una asignatura</option>
                    <option  *ngFor="let asignatura of asignaturasPadre" 
                    [ngValue]="asignatura">{{asignatura.nombre}}</option>
                </select>
                <div class="alert alert-danger" *ngIf="error?.asignaturaPadre">
                    {{error.asignaturaPadre}}
                </div>
            </div>
            <div class="form-group">
                <label for="asignaturaHija">Asignatura hija</label>
                <select [(ngModel)]="model.asignaturaHija" name="asignaturaHija" id="asignaturaHija" class="form-control">
                    <option [ngValue]="undefined">--- Selecciona una asignatura</option>
                    <option  *ngFor="let asignatura of asignaturasHija" 
                    [ngValue]="asignatura">{{asignatura.nombre}}</option>
                </select>
                <div class="alert alert-danger" *ngIf="error?.asignaturaHija">
                    {{error.asignaturaHija}}
                </div>
            </div>
            <div class="form-group mt-2 d-flex justify-content-end">
                <button type="button" class="btn btn-primary" 
                (click)="model.id? editar(): crear()" >{{model.id? 'Editar': 'Crear'}}</button>
            </div>
        </form>
</div>
</div>
