<mat-card>
    <mat-card-header *ngIf="curso">
      <mat-card-title>Alumnos del curso {{curso.nombre}}</mat-card-title>
    </mat-card-header>
<mat-card-content>
<div class="container-fluid mt-4">
        <mat-form-field class=" col-12">
            <input matInput placeholder="Buscar alumnos" (keyup)="filtrar($event.target.value)">
        </mat-form-field>
</div>
<table mat-table [dataSource]="alumnosAsignar" class="mat-elevation-z8">

    <ng-container matColumnDef="seleccion">
        <th mat-header-cell *matHeaderCellDef>
            <mat-checkbox
            (change)="$event? seleccionarTodos(): null"
            [checked]="seleccion.hasValue() && estanTodosSeleccionados()"
            [indeterminate]="seleccion.hasValue() && !estanTodosSeleccionados()"
            ></mat-checkbox>
        </th>
        <td mat-cell *matCellDef="let alumno"> 
            <mat-checkbox
            (click)="$event.stopPropagation()"
            (change)="$event? seleccion.toggle(alumno): null"
            [checked]="seleccion.isSelected(alumno)"
            >
            </mat-checkbox>
        </td>
      </ng-container>

    <ng-container matColumnDef="nombre">
      <th mat-header-cell *matHeaderCellDef> Nombre </th>
      <td mat-cell *matCellDef="let alumno"> {{alumno.nombre}} </td>
    </ng-container>

    <ng-container matColumnDef="apellido">
      <th mat-header-cell *matHeaderCellDef> Apellido </th>
      <td mat-cell *matCellDef="let alumno"> {{alumno.apellido}} </td>
    </ng-container>
  
    <tr mat-header-row *matHeaderRowDef="mostrarColumnas"></tr>
    <tr mat-row *matRowDef="let row; columns: mostrarColumnas;"
    (click)="seleccion.toggle(alumno)"></tr>
  </table>
  <div class="d-flex justify-content-end">
    <button mat-raised-button color="primary"class="m-4" 
    (click)="asignar()"
    [disabled]="!seleccion.hasValue()">Asignar</button>
  </div>
  </mat-card-content>
</mat-card>