<div class="card text-bg-light mb-3">
    <div class="card-header">{{titulo}}</div>
    <div class="card-body">
        <button class="btn btn-primary my-2" routerLink="/cursos/form">Crear</button>
        <div class="table-responsive">
        <table class="table table-hover table-striped" *ngIf="lista?.length || 0 > 0 else elseBlockC">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Nombre</th>
                    <th>Creado</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let curso of lista">
                    <td>{{curso.id}}</td>
                    <td>{{curso.nombre}}</td>
                    <td>{{curso.createAt | date: 'dd/MM/yyyy'}}</td>
                    <td>
                        <div class="btn-group">
                            <button class="btn btn-warning btn-sm" [routerLink]="['/cursos/form', curso.id]">Editar</button>
                            <button class="btn btn-danger btn-sm" (click)="eliminar(curso)">Eliminar</button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
        <mat-paginator [length]="totalRegistros"
              [pageSize]="totalPorPagina"
              [pageIndex]="paginaActual"
              [pageSizeOptions]="pageSizeOptions"
              aria-label="Select page" 
              (page)="paginar($event)"
              showFirstLastButtons
              class="float-left mx-2"
              >
        </mat-paginator>
    </div>
    <ng-template #elseBlockC>
        <div class="alert alert-info">
            No hay cursos en el sistema
        </div>
      </ng-template>
    </div>
  </div>
